* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(64, 123, 179);
  padding-left: 84px;
  padding-top: 192px;
  color: white;
}
.flex {
  display: flex;
}
.flex_container {
  margin-left: 250.31px;
  margin-top: 30px;
}

.text_font_switch {
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #ffffff;
  padding-top: 5px;
}
.lbl_user_pwd {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  margin-top: 5px;
  text-wrap: balance;
}
.input1 {
  font-size: 13;
  width: 160px;
  margin-left: 5px;
  margin-top: 5px;
}
.input2 {
  margin-left: 8px;
  margin-top: 5px;
}
.choose {
  margin-top: 5px;
}
.login {
  border: 1px solid white;
  border-radius: 2px;
  height: 20px;
  width: 80px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 25px;
  margin-left: 65px;
  cursor: pointer;
}
.secure {
  border: 1px solid white;
  border-radius: 2px;
  width: 168.43;
  height: 23px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}
.footer {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  position: fixed;
  left: 84px;
  bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
}
